/* hi */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

#battleship_ship_placement {
  padding-bottom: 30px;
}

#battleships_list > li,
.tile {
  cursor: pointer;
}

#battleship_ocean_grid {
  width: 320px;
}

#battleship_target_grid {
  width: 320px;
}

#grids {
  column-count: 2;
  width: 800px;
}

.selected {
  font-weight: bold;
}

.placed {
  font-weight: bold;
  text-decoration: line-through;
}

.tile {
  width: 30px;
  height: 30px;
  border: 1px solid;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 22px;
}

.tile.hidden > span {
  visibility: collapse;
}

#status {
  height: 20px;
  font-weight: bold;
}

[data-status="hit"] {
  background-color: red;
}

[data-status="missed"] {
  background-color: palegoldenrod;
}

#footer {
  padding-top: 20px;
  font-size: 1.1em;
  font-weight: 800;
}
